/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Custom CSS
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #748cc5;
}

h1 {
    color: #2b50a8;
    font-size: 250%;
}

h2 {
    color: #53a319;
    font-size: 175%;
}

h3 {
    color: #2b50a8;
    font-size: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.logo {
    width: 300px;
    height: 160px;
}

.header {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 5vw;
}

.content {
    padding-left: 25vw;
    padding-right: 25vw;
}

.input-row {
    width: 410px;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
}

.input-row > label {
    width: 190px;
    display: inline-block;
    font-size: 16px;
    padding: 3px;
    flex-shrink: 0;
}

.input-row > input[type="number"], .input-row > input[type="text"], .input-row > input[type="date"], .input-row > select, .input-row > textarea {
    font-size: 16px;
    width: 220px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    min-width: 10px;
    flex: 1;
}

.input-row > select > option {
    font-size: 16px;
}

.input-row > input[type="number"].short-input {
    text-align: right;
}

button, .button {
    font-size: 16px;
    padding: 2px 5px;
    border: 1px solid #748cc5;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: #2b50a8;
    text-decoration: none;
    cursor: grab;
    display: inline-block;
    line-height: 25px;
}

.input-unit {
    flex-shrink: 0;
    padding: 3px 3px 3px 6px;
}

button:hover, .button:hover {
    border-width: 2px;
    border-color: #2b50a8;
    padding: 1px 4px;
}

ul.detail-list {
    padding: 5px 0;
}

ul.detail-list > li {
    padding: 5px 0;
}

table {
    width: 100%;
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #2b50a8;
    white-space: nowrap;
}

thead {
    font-weight: bold;
    font-size: 100%;
    color: #2b50a8;
}

tbody {
    font-size: 75%;
    color: #748cc5;
}

.tr-body:hover {
    background-color: #cdd9e1;
}

.text-padding {
    padding-bottom: 5px;
}