<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Lab Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/order/{path}(path=${uuid})}" th:object="${order}" method="post">
    <p>
        Client ID:
        <input type="number" th:field="*{clientId}"/>
    </p>
    <p>
        Analysis:
        <input type="text" th:value="*{analysis}" th:field="*{analysis}"/>
    </p>
    <p>
        Due Date:
        <input type="date" th:value="*{dueDate}" th:field="*{dueDate}"/>
    </p>
    <p>
        Comment:
        <textarea rows="5" th:field="*{comment}"/>
    </p>
    <button type="submit" name="action" value="submit">Save</button>
    <button th:if="${T(ch.fhnw.digibp.order.Order.State).CONFIRMED == order.state}" type="submit" name="action" value="enterSample">Enter Sample
    </button>
    <button th:if="${T(ch.fhnw.digibp.order.Order.State).SAMPLE_RECEIVED == order.state}" type="submit" name="action" value="startAnalysis">Start Analysis
    </button>
    <button th:if="${T(ch.fhnw.digibp.order.Order.State).ANALYSIS == order.state}" type="submit" name="action" value="enterAnalysisResult">Enter Analysis
        Results
    </button>
    </p>
</form>
</body>
</html>

