<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Lab Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Order Overview</h1>
<table>
    <thead>
    <tr>
        <th> UUID</th>
        <th> Analysis</th>
        <th> State</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${orders.empty}">
        <td colspan="4"> No Orders</td>
    </tr>
    <tr th:each="order : ${orders}">
        <td><span th:text="${order.uuid}"> UUID </span></td>
        <td><span th:text="${order.analysis}"> Analysis </span></td>
        <td><span th:text="${order.state}"> State </span></td>
        <td><a th:href="@{/order/{path}(path=${order.uuid})}">Open Order</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>

