<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="stylesheet.css">
<head>
    <title>Order Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div class="row">
        <div class="column">
            <h1>Order Overview</h1>
        </div>
        <div class="column">
            <img src="Logo.png" width= 300px height= 160px
                 alt="DIGI LAB PRO">
        </div>
    </div>
</head>
<body>
<p>All open orders are listed below.</p>
<p>
    <a th:href="@{/order}">Create Order</a>
</p>
<table>
    <thead>
    <tr>
        <th> UUID</th>
        <th> Analysis</th>
        <th> State</th>
        <th> Laboratory</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${orders.empty}">
        <td colspan="4"> No Orders</td>
    </tr>
    <tr th:each="order : ${orders}">
        <td><span th:text="${order.uuid}"> UUID </span></td>
        <td><span th:text="${order.analysisType}"> Analysis </span></td>
        <td><span th:text="${order.state}"> State </span></td>
        <td><span th:text="${order.laboratory}"> Laboratory </span></td>
        <td><a th:href="@{/order/{path}(path=${order.uuid})}">Open Order</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>

