<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sample Entry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/order/{path}/sample(path=${uuid})}" th:object="${sample}" method="post">
    <p>
        Sample Type:
        <select id="sampleType" name="sampleType" th:disabled="${sample.sampleType != null}" th:field="*{sampleType}">
            <option th:each="sampleTypeOpt : ${T(ch.fhnw.digibp.domain.SampleType).values()}"
                    th:value="${sampleTypeOpt}" th:text="${sampleTypeOpt}"></option>
        </select>
    </p>
    <p>Damaged: <input id="damaged" type="checkbox" th:disabled="${sample.sampleType != null}" th:field="*{damaged}"/></p>
    <p>Temperature Indicator Okay: <input id="temperatureIndicatorOk" type="checkbox" th:disabled="${sample.sampleType != null}"
                                          th:field="*{temperatureIndicatorOk}"/></p>
    <p>
        <button th:disabled="${sample.sampleType != null}" type="submit" name="action" value="save">Save</button>
    </p>
</form>
</body>
</html>

