<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="/stylesheet.css">
<head>
    <title>Submit Test Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="header">
    <div class="row">
        <div class="column">
            <h1>Submit Test Result</h1>
        </div>
        <div class="column">
            <img src="/Logo.png" alt="DIGI LAB PRO" class="logo">
        </div>
    </div>
</div>
<div class="content">
    <p class="text-padding">Check the test result for completeness and possible errors.</p>
    <form action="#" th:action="@{/order/{path}/analysis(path=${uuid})}" th:object="${order.analysisResult}" method="post">

        <div class="input-row">
            <label for="analysisType">Analysis:</label>
            <input id="analysisType" type="text" th:value="${order.analysisType}" disabled/>
        </div>
        <div class="input-row">
            <label for="sampleType">Sample Type:</label>
            <input id="sampleType" type="text" th:value="${order.sampleRequirements.sampleType}" disabled/>
        </div>
        <div class="input-row">
            <label for="startDate">Start Date:</label>
            <input id="startDate" type="date" th:field="*{startDate}" disabled/>
        </div>

        <div class="input-row">
            <label for="endDate">End Date:</label>
            <input id="endDate" type="date" th:field="*{endDate}" disabled/>
        </div>
        <div class="input-row">
            <label for="resultValue">Result Value:</label>
            <input id="resultValue" type="number" th:field="*{resultValue}" th:disabled="${T(ch.fhnw.digibp.order.Order.State).IN_ANALYSIS != order.state}"
                   required/>
        </div>
        <div class="input-row">
            <label for="resultDescription">Result Description:</label>
            <input id="resultDescription" type="text" th:disabled="${T(ch.fhnw.digibp.order.Order.State).IN_ANALYSIS != order.state}"
                   th:field="*{resultDescription}" required/>
        </div>
        <div class="input-row">
            <label for="remarks">Remarks:</label>
            <input id="remarks" type="text" th:disabled="${T(ch.fhnw.digibp.order.Order.State).IN_ANALYSIS != order.state}" th:field="*{remarks}"/>
        </div>
        <a th:if="${T(ch.fhnw.digibp.order.Order.State).IN_ANALYSIS == order.state}" class="button" href="/orders">Back</a>
        <button th:if="${T(ch.fhnw.digibp.order.Order.State).IN_ANALYSIS == order.state}" type="submit" name="action" value="save">Submit Results</button>
    </form>
    <form th:if="${order.validation?.recommendation != null}" action="#" th:action="@{/order/{path}/analysis(path=${uuid})}"
          th:object="${order.validation}" method="post">
        <div class="input-row">
            <label for="similarAnalysisCount">Similar Analysis Count:</label>
            <input id="similarAnalysisCount" type="number" th:field="*{similarAnalysisCount}" disabled/>
        </div>
        <div class="input-row">
            <label for="recommendation">Recommendation:</label>
            <input id="recommendation" type="text" th:field="*{recommendation}"
                   th:disabled="${T(ch.fhnw.digibp.order.Order.State).ANALYSIS_DONE != order.state && !order.validation?.verificationNeeded}"/>
        </div>
        <a th:if="${T(ch.fhnw.digibp.order.Order.State).IN_ANALYSIS != order.state}" class="button" href="/orders">Back</a>
        <button th:if="${T(ch.fhnw.digibp.order.Order.State).ANALYSIS_DONE == order.state }" type="submit" name="action" value="confirm">Confirm Analysis
        </button>
        <button th:if="${T(ch.fhnw.digibp.order.Order.State).ANALYSIS_DONE == order.state}" type="submit" name="action" value="reject">Reject Analysis</button>
    </form>
</div>
</body>
</html>

